
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
}

nav {
    margin: auto 1px;
}

.nav li {
    display: inline-block;
}

.nav li a:hover {
    color: green;
}

img {
    height: auto; 
    width: auto; 
    max-width: 250px; 
    max-height: 72px; 
    border-radius: 50px; 
}

.btn {
    border-radius: 20px;
    background-color: rgb(51, 0, 102);
    font-family: monospace;
    border-color: rgb(51, 0, 102);
}